body{
	margin: 0;
	font-family: 'Comic Sans MS';
}

.navbar{
	background-color: #181818;
	overflow: hidden;
}

.navbar a{
	padding: 3px;
	float: right;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 18px
}

.navbar a:hover{
	color: #cccccc
}

.navbar .search-container{
	float: left;
	padding: 5px 10px 10px 20px;

}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
